.App {
  height: 100vh;
}

.App .pageContainer {
  background-color: #F4F5F5;
  width: 60%;
  min-height: calc(80vh);
  margin: 20px auto;
  padding: 0 20px 20px 30px;
  border-color: #0000001a;
  border-radius: 5px;
  border-style: solid;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.114);
}