.App {
	height: 100vh;
}

.App .pageContainer {
	background-color: #f4f5f5;
	width: 52%;
	min-height: calc(80vh);
	margin: 20px auto;
	padding: 0 25px 20px 40px;
	border-color: #0000001a;
	border-radius: 5px;
	border-style: solid;
	box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.114);
	overflow-y: auto;
}

.App .pageHeader {
	margin: 20px 12px;
	font-weight: 500;
	font-size: 36px;
}
