.notificationBlock {
    margin-bottom: 10px;
}

.notificationBlock .blockContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2.5px 3px 0px;
    border: 1px rgba(128, 128, 128, 0.16) solid;
    align-items: center;
    height: 100%;
}

.notificationBlock .iconPic {
    color: white;
    font-weight: 100;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 10px;
    margin-right: 20px;
    color: white;
}

.notificationBlock .iconPicEC2New {
    background-color: #00377C;
}

.notificationBlock .iconPicBillingNew {
    background-color: #653171;
}

.notificationBlock .iconPicProductNew {
    background-color: #0089B9;
}

.notificationBlock .iconPicDowntimeNew {
    background-color: #B13D4A;
}


.notificationBlock .iconPicViewed {
    color: grey;
    background-color: transparent;
}

.notificationBlock .contentTextBold {
    font-weight: 700;
    min-width: fit-content;
    margin-right: 5px;
}

.notificationBlock .iconBlock {
    display: flex;
    align-self: center;
}
.notificationBlock  .textContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    width: 100%;
}

.notificationBlock .dateTimeText {
    color: #AEAEAE;
    margin-top: 6px;
}

.notificationBlock .textGreyedOut {
    color: grey
}

.notificationBlock .textContentInfo {
    display: flex;
    flex-direction: row;
}